<a href="https://colab.research.google.com/github/MariuszGaw/datascience/blob/main/03_pandas_podstawy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.5'

In [4]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [5]:
s = pd.Series(data=[3,2,4,6], index=['a','b','c','d'])
s

a    3
b    2
c    4
d    6
dtype: int64

In [6]:
s = pd.Series(data=[3,2,4,6], index=['a','b','c','d'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [7]:
s = pd.Series(data=[3.1,2,4,6], index=['a','b','c','d'], name='sample')
s

a    3.1
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [8]:
import numpy as np

In [ ]:
np.nan

brak danych

In [9]:
s = pd.Series(data=[3.1,np.nan ,4,6], index=['a','b','c','d'], name='sample')
s

a    3.1
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [10]:
s = pd.Series(data=[True,False,False])
s

0     True
1    False
2    False
dtype: bool

In [20]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101', periods=10))
s.index
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [22]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [17]:
type(s)

pandas.core.series.Series

In [18]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
 s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [23]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [25]:
s.dtypes

dtype('O')

In [26]:
s.shape

(3,)

**Wycinanie**

In [7]:
price = pd.Series(data={'Apple': 200,'CD Project': 60, "Amazon": 1900})
price

Apple          200
CD Project      60
Amazon        1900
dtype: int64

In [33]:
price['CD Project']

60

In [34]:
price[1]

60

In [35]:
price.count()

3

In [36]:
price.value_counts()

200     1
60      1
1900    1
dtype: int64

In [45]:
price.value_counts(dropna=False)

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [37]:
price.sum()

2160

In [38]:
price.min()

60

In [39]:
price.max()

1900

In [40]:
price.std()

1024.3046421841502

In [41]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [9]:
price = pd.Series(data={'Apple': 200,'CD Project': 60, "Amazon": 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [44]:
price.count()

3

In [47]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [48]:
price.nsmallest(2)

CD Project     60.0
Apple         200.0
dtype: float64

In [51]:
price.rank()

Apple         2.0
CD Project    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [52]:
price.sort_values()

CD Project      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [54]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Project      60.0
KGHM             NaN
dtype: float64

In [11]:
price_pln = price.apply(lambda x: x * 3.8)

In [3]:
import pandas as pd

In [5]:
import numpy as np

In [10]:
price

Apple          200.0
CD Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [12]:
price_pln

Apple          760.0
CD Project     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

**DataFrame**

In [17]:
df = pd.DataFrame(data=[12,12,32], index=['first','secend','third'], columns=['col_1'])
df

        col_1
first      12
secend     12
third      32

In [18]:
import pandas as pd
df = pd.DataFrame(data={'WIG20':['PKN Orlen','PKO BP'],'mWIG40': ['Amica','Playway']})

In [19]:
df

       WIG20   mWIG40
0  PKN Orlen    Amica
1     PKO BP  Playway

In [4]:
import pandas as pd
df = pd.DataFrame(data={'col_1':[10,23],'col_2': [12,12],'col_3':[13,10]}, index=['first','second'])

In [5]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [6]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [7]:
type(df['col_1'])

pandas.core.series.Series

podwojna notacja wycina jako dataframe

In [8]:
df[['col_1']]

        col_1
first      10
second     23

In [9]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [2]:
df

   col_1  col_2  col_3
0     10     12     13
1     23     12     10

In [10]:
df.columns = ['a','b','c']
df

         a   b   c
first   10  12  13
second  23  12  10

In [11]:
df.a

first     10
second    23
Name: a, dtype: int64

In [12]:
df.b

first     12
second    12
Name: b, dtype: int64

niezawsze uyteczne np.

In [17]:
df.columns = ['a', 'sprzedaz_grudzien','c']
df

         a  sprzedaz_grudzien   c
first   10                 12  13
second  23                 12  10

In [18]:
df.sprzedaz_grudzien

first     12
second    12
Name: sprzedaz_grudzien, dtype: int64

In [20]:
df['d'] = df.a + df.c
df

         a  sprzedaz_grudzien   c   d
first   10                 12  13  23
second  23                 12  10  33

In [2]:
import pandas as pd
df = pd.DataFrame(data = [[10,12,13],[23,12,10]], index=['first','secend'], columns=['col_1','col_2','col_3'])
df

        col_1  col_2  col_3
first      10     12     13
secend     23     12     10

metoda loc, wycinanie po nazwach, po indeksach

In [23]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [3]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [4]:
df.loc['first','col_2']

12

In [5]:
df.loc[:,'col_2']

first     12
secend    12
Name: col_2, dtype: int64

In [6]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [7]:
df.iloc[0,1]

12